
@{
    ViewData["Title"] = "Dofinansowanie";
}

<div class="text-center" id="index">
    <div class="wstep">
        <h1>Dofinansowanie - co to takiego?  </h1>
        <p>
            Dofinansowania mogą mieć formę bezzwrotną lub zwrotną w zależności od celu, na jaki zostają przyznane.
            Najczęściej jest to określona część całości wymaganej do realizacji danych działań gospodarczych.
            O dofinansowanie możemy się starać w różnych instytucjach finansowych.
            Możemy także skorzystać ze środków unijnych.


        </p>
    </div>

    <div class="skutki">
        <h2>Dostępne dofinansowania</h2>
        <h2>Program "Moja Woda"</h2>
        <p>
            O dotacje na zbieranie deszczówki mogą występować osoby fizyczne będące właścicielami lub współwłaścicielami
            nieruchomości na której znajduje się dom jednorodzinny. Beneficjenci programu mają zrealizować instalację
            zatrzymania i zagospodarowania wody deszczowej lub roztopowej (zakup, montaż, budowa, uruchomienie).

            A zatem dotacjami mogą być objęte zakup, montaż, budowa, uruchomienie instalacji, takich jak:

            -przewody odprowadzające wody opadowe zebrane z rynien, wpustów do zbiornika nadziemnego; podziemnego, 
            otwartego lub zamkniętego, szczelnego lub infiltracyjnego;
            -instalacji rozsączającej, zbiornik retencyjny nadziemny, podziemny, otwarty lub zamknięty, szczelny lub
            infiltracyjny, oczko wodne;
            -instalacje do nawadniania lub innego wykorzystania zatrzymanej wody.

            Warunkiem otrzymania bezzwrotnego dofinansowania jest sprawne działanie instalacji przez 3 lata od daty 
            podpisania protokołu odbioru końcowego przez beneficjenta i wykonawcę przedsięwzięcia.


        </p>
    </div>

</div>
