
@{
    ViewData["Title"] = "Dofinansowanie";
}

<div class="text-center glowny" id="dofinansowanie">
    <div class="wstep">
        <h1>Dofinansowanie - Moja Woda  </h1>
        <p class="wstep-text">
            Dotyczy przedsięwzięcia, które doprowadzą do zatrzymywania wody
            opadowej w obrębie nieruchomości objętej przedsięwzięciem, w efekcie
            czego wody opadowe lub roztopowe z nieruchomości nie będą odprowadzane
            poza jej teren (np. do kanalizacji bytowo-gospodarczej, kanalizacji deszczowej,
            kanalizacji ogólnospławnej, rowów odwadniających odprowadzających poza teren
            nieruchomości, na tereny sąsiadujące, na ulice, place itp.).
        </p>
    </div>

    <div class="dofinansowanie">
        <h2>Cel programu</h2>
        <p class="dofinansowanie-text">
            Program ma na celu ochronę zasobów wody poprzez zwiększenie retencji na
            terenie posesji przy budynkach jednorodzinnych oraz wykorzystywanie
            zgromadzonej wody opadowej i roztopowej, w tym dzięki rozwojowi
            zielono-niebieskiej infrastruktury.
        </p>
    </div>

    <div class="dofinansowanie">
        <h2>
            Koszty kwalifikowane
        </h2>
        <p class="dofinansowanie-text">
            Zakup, montaż, budowa, uruchomienie, instalacji takich jak:
        </p>
        <p class="koszty">
            - Przewody odprowadzające wody opadowe zebrane z rynien, wpustów
            do zbiornika nadziemnego; podziemnego, otwartego lub zamkniętego,
            szczelnego lub infiltracyjnego.
        </p>

        <p class="koszty">
            - Instalacji rozsączającej, zbiornik retencyjny nadziemny, podziemny,
            otwarty lub zamknięty, szczelny lub infiltracyjny.
        </p>

        <p class="koszty">
            - Elementy do nawadniania lub innego wykorzystania zatrzymanej wody.
        </p>
        <p class="dofinansowanie-text">
            Pozwalających na zagospodarowanie wód opadowych lub roztopowych na
            terenie nieruchomości objętej przedsięwzięciem.
        </p>
    </div>

    <div class="dofinansowanie">
        <h2>
            Formy dofinansowania
        </h2>
        <p class="dofinansowanie-text">
            Dotacja, lecz nie więcej niż 80% kosztów kwalifikowanych
            instalacji wchodzących w skład przedsięwzięcia i nie więcej niż
            5 tys. zł na jedno przedsięwzięcie.
        </p>
        <p class="koszty">
            <b>Beneficjenci</b>
        </p>
        <p class="dofinansowanie-text">
            Osoby fizyczne będące właścicielami lub współwłaścicielami
            nieruchomości na której znajduje się budynek mieszkalny jednorodzinny
            , z wyłączeniem nieruchomości, dla której udzielono już dofinansowania
            z Programu Moja Woda
        </p>
    </div>

    <div class="dofinansowanie">
        <img src="~/img/dotacje.png" />
    </div>

</div>
