@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="index">
    <div class="wstep">
        <h1> Czym jest susza?</h1>
        <p>
            Susza niszczy plony i wypala pastwiska. W krajach rozwijających się, gdzie los wielu ludzi zależy od zbiorów z przydomowych poletek,
            długotrwale susze wywołują klęski głodu i śmierć tysięcy ofiar. Meteorolodzy suszą nazywają okres, w którym przeciętna ilość opadów na danym
            obszarze spada znacznie poniżej wartości typowych dla tego obszaru i stan ten utrzymuje się przez dłuższy czas. Zwykle takie "meteorologiczne susze"
            wywierają stosunkowo niewielki wpływ na życie społeczności ludzkich, będąc w niektórych krajach jedynie przyczyną takich utrudnień jak zakaz podlewania
            ogródków itp. Jednakże długotrwałe susze prowadzą do zmniejszenia zapasów wody w strumieniach, jeziorach i studniach, które stanowią naturalne zbiorniki
            wód gruntowych. To może być przyczyną katastrofy, szczególnie gdy następuje obniżenie poziomu wilgotności gruntu. Pociąga to bowiem za sobą zmniejszenie
            wydajności upraw i wysychanie pastwisk dostarczających pożywienia zwierzętom roślinożernym. Tego rodzaju klęski określa się nieraz mianem "suszy rolniczej".
            Po okresach długotrwałej suszy często następują intensywne opady deszczu. Znaczna część wody deszczowej zamiast wsiąkać w glebę, spływa po ogołoconym, wysuszonym
            gruncie i zasila wody rzek, które przybierając występują z brzegów, co z kolei jest przyczyną powodzi.
        </p>
    </div>

    <div class="skutki">
        <h1>Skutki suszy</h1>
        <h2>1. Czynnik naturalny </h2>
        <p>
            Jezioro Urmia w Iranie było jednym z największych słonych jezior na świecie, jednak zmiany
            klimatyczne i niewłaściwa gospodarka wodna sprawiły, że wyschło niemal całkowicie. Niemal trzydzieści
            lat temu było to szóste co do wielkości słone jezioro na świecie i największe jezioro na Bliskim Wschodzie.
        </p>


        <h2>2. Czynnik ludzki</h2>
        <p>
            Jezioro Aralskie (nazywane Morzem Aralskim) – bezodpływowe, reliktowe, słone jezioro w Kazachstanie i Uzbekistanie, które de facto zniknęło
            wskutek ludzkiej działalności. W jego miejscu znajdują się obecnie cztery oddzielne zbiorniki: Jezioro Północnoaralskie, jezioro (dawna zatoka)
            Tuszczybas, oraz basen południowo-zachodni i południowo-wschodni.
            Basen południowo-wschodni jest płytki, bardzo silnie zasolony i okresowo wysycha.
        </p>
    </div>
    <div class="skutki">
        <h1> Stop suszy! Kampania społeczna </h1>
        <p>
            Wody nie może zabraknąć. Pamiętaj o wodzie - to hasło kampanii społecznej. Wody Polskie pracują nad pierwszym w
            naszym kraju kompleksowym planem przeciwdziałania skutkom suszy. Plan opracują eksperci, ale jego wykonanie to zadanie dla
            nas wszystkich. Powiedzmy razem Stop suszy! Więcej na <a href="https://stopsuszy.pl/" target="_blank">stopsuszy.pl</a>.
        </p>
        <iframe width="800" height="450" src="https://www.youtube.com/embed/8D5f12dfbZQ" frameborder="0" allow="accelerometer;
            autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p> Film „Pamiętaj o wodzie” z udziałem Ambasadora Projektu Stop suszy! Łukasza Nowickiego </p>
    </div>
    

</div>
