
@{
    ViewData["Title"] = "Przeciwdzialanie";
}

<div class="text-center" id="index">
    <div class="wstep">
        <h1> Jak oszczędzać wodę?? </h1>
        <p>
            Jak oszczędzać wodę w domu? Jak jednocześnie zadbać o swój portfel i żyć bardziej ekologicznie? Takie pytania pojawiają się w
            głowach wielu z nas. Ocieplenie klimatu, zanieczyszczenie środowiska i brak rozwagi w korzystaniu z wody sprawiają, że jej zasoby
            zaczynają się wyczerpywać. Jak tego uniknąć? Poznaj 7 najskuteczniejszych sposobów na oszczędzanie wody i wprowadź je w życie od zaraz.
        </p>
    </div>

    <div class="skutki row" >
        <div class="col-lg-8">
            <h2>1. Wybierz prysznic zamiast wanny</h2>
            <p>
                Podczas kąpieli w standardowej wannie (160-170 cm długości) zużywasz nawet 170 litrów wody! Biorąc szybki 4-minutowy prysznic, zużyjesz natomiast ok. 40 litrów.
                Chyba nikogo nie trzeba przekonywać, którą opcję powinien wybrać.
            </p>
        </div>
        <div class="col-lg-4">
            <img src="~/img/bath.png" style="height:180px;width:180px"/>
        </div>
        
    </div>

    <div class="skutki">
        <h2>2. Zakręcaj wodę podczas mycia zębów </h2>
        <p>
            Mimo rosnącej świadomości na temat oszczędzania wody, nadal są osoby, które w trakcie mycia zębów nie zakręcają wody.
            Jeśli do nich należysz – koniecznie zmień ten nawyk. Przez takie bezmyślne działanie dziesiątki litrów wody marnują się bez celu.
        </p>
    </div>

    <div class="skutki">
        <h2>3. Uruchamiaj tylko pełną pralkę i zmywarkę </h2>
        <p>
            Pamiętaj, by włączać pralkę i zmywarkę dopiero wtedy, gdy będą pełne. Jeśli masz do umycia tylko kilka talerzy, zaczekaj, aż uzbiera się więcej naczyń lub umyj je ręcznie.
        </p>
    </div>

    <div class="skutki">
        <h2>4. Używaj jednouchwytowych baterii  </h2>
        <p>
            Przede wszystkim wybierz odpowiednie baterie – jedynym słusznym wyborem są te jednouchwytowe. Baterie z dwoma kurkami może i wyglądają stylowo,
            ale przyczyniają się do ogromnych strat wody.
        </p>
    </div>

    <div class="skutki">
        <h2>5. Zainwestuj w zmywarkę  </h2>
        <p>
            Jeśli jeszcze nie masz zmywarki w swojej kuchni, koniecznie musisz to zmienić. Nie dość, że zyskasz czas, który każdego dnia przeznaczałeś na stanie przy zlewie,
            to jeszcze zupełnie przy okazji będziesz oszczędzał wodę. Zużycie wody przez zmywarkę może być nawet 4 razy mniejsze niż podczas mycia ręcznego. Wybierz taki model,
            który ma program ECO, pozwalający na jeszcze mniejszy pobór wody w trakcie jednego cyklu.
        </p>
    </div>

    <div class="skutki">
        <h2>6. Zbieraj deszczówkę w ogrodzie </h2>
        <p>
            A jak oszczędzać wodę w ogrodzie? Przecież rośliny jej potrzebują. Przede wszystkim podlewaj je o odpowiednich porach (wczesnym rankiem lub wieczorem)
            oraz zacznij gromadzić deszczówkę.
        </p>
    </div>

    <div class="skutki">
        <h2>7. Oszczędzaj wodę globalnie </h2>
        <p>
            Czy wiesz, że jedząc mniej mięsa, oszczędzasz wodę? By uzyskać kilogram wołowiny, która ląduje na Twoim stole, trzeba zużyć dziesiątki tysięcy litrów wody!
            Oczywiście tutaj mowa już wyłącznie o oszczędzaniu w skali globalnej,
            ten sposób nie będzie miał wpływu na stan Twojego portfela.
        </p>
    </div>

</div>
