@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Rejestracja potwierdzona";
}

<h1 style="margin-top:80px;">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Dziękujemy za rajestrację!
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
